{% extends "user_base.html" %}

{% block title %}Device Management{% endblock %}


{% block content %}
<div class="container mt-4">
  <h2>Device Management</h2>
  <ul class="list-group">
    {% for device in devices %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ device.name }} ({{ device.ip_address }})
        <a href="#" class="btn btn-sm btn-danger">Block</a>
      </li>
    {% empty %}
      <li class="list-group-item">No devices registered.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
